@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 220 35% 15%; /* dark navy */
    --foreground: 215 33% 92%; /* texto claro */

    --card: 220 30% 25%;
    --card-foreground: 215 33% 92%;
 
    --popover: 220 100% 99%;
    --popover-foreground: 229 37% 15%;
 
    --primary: 230 96% 62%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 220 28% 18%;
    --secondary-foreground: 215 27% 85%;
 
    --muted: 220 20% 25%;
    --muted-foreground: 220 15% 70%;
 
    --accent: 220 25% 20%;
    --accent-foreground: 215 33% 92%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 20% 25%;
    --input: 220 20% 22%;
    --ring: 230 96% 62%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(circle, hsl(var(--accent)/0.15) 1px, transparent 1px);
    background-size: 12px 12px;
  }

  .content-container {
    @apply max-w-screen-lg mx-auto px-4;
  }
}

/* .glass-panel {
  @apply bg-background/80 backdrop-blur-sm border border-border/50 shadow-md;
} */

.glass-panel {
  @apply bg-card/70 backdrop-blur-sm border border-white/10 transition-all duration-300;
}

.glass-panel:hover {
  @apply border-white/20;
}

.hero-gradient {
  background: linear-gradient(to bottom, rgba(30, 41, 59, 0.8) 0%, rgba(30, 41, 59, 0.95) 100%);
}

.nav-link {
  @apply text-muted-foreground hover:text-primary transition-colors;
}

.nav-link.active {
  @apply text-primary;
} 